<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}- Chapel of Life | The Redeemed Christian Church of God | Come and let's worship at the feet of Jesus{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="The Redeemed Christian Church of God Chapel of Life - A place of worship where Jesus is enthroned, the undiluted Word of God is preached, the presence of God dwells. Join us for any of our services and experience the love and power of God in all areas of your life. Jesus loves you." />
<meta name="keywords" content="chapel of life, rccg, church, redeemed, christ, love, faith, peace, christian faith, religion, festac, lagos, amuwo odofin, jesus, mile two, nigeria" />

<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
{% block styles %}
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/owl-carousel.css" type="text/css" />
<link rel="stylesheet" href="css/mediaelementplayer.min.css" />
<link href="css/revolution.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="css/colors/blue.css" title="color1" />
<!-- 
<link rel="stylesheet" type="text/css" href="css/colors/red.css" title="color1" />
<link rel="alternate stylesheet" type="text/css" href="css/colors/wedgewood.css" title="color2" />
<link rel="alternate stylesheet" type="text/css" href="css/colors/blue.css" title="color3" />
<link rel="alternate stylesheet" type="text/css" href="css/colors/green.css" title="color4" />
<link rel="alternate stylesheet" type="text/css" href="css/colors/darkgreen.css" title="color5" />
 -->
 {% endblock %}
</head>

<body>
<div class="theme-layout">
<header class="header2">
	<div class="topbar">
		<div class="container">
			<div class="header-timer">
				<p>Upcoming Event:</p>
				<ul class="headercounter">
					<li> <span class="days">00</span>
					<p class="days_ref">DAYS</p>
					</li>
					<li> <span class="hours">00</span>
					<p class="hours_ref">HOURS</p>
					</li>
					<li> <span class="minutes">00</span>
					<p class="minutes_ref">MINTS</p>
					</li>
					<li> <span class="seconds">00</span>
					<p class="seconds_ref">SECS</p>
					</li>
				</ul>
			</div>
			<p><i class="fa fa-mobile"></i> Call us: +123 456 7890</p><!--- CONTACT -->
			<p><i class="fa fa-envelope"></i>  <a href="mailto:info@rccgchapeloflife.com">info@rccgchapeloflife.com</a></p><!--- EMAIL -->
			<ul class="social-media">
				<li><a title="" href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a title="" href="#"><i class="fa fa-facebook"></i></a></li>
			</ul>
			<div class="cart-dropdown">
				<p><a href="announcements"><i class="fa fa-bullhorn"> Announcements</i></a></p>
			</div>
		</div>
	</div><!--- TOP BAR -->
	<nav>
		<div class="container">
			<div class="logo">
				<a href="#" title=""><img src="images/logo.png" alt="" /></a>
			</div><!--- LOGO -->
			<span class="menu-btn">MENU</span>			
			<ul>
				<li><a href="./" title="">Home</a></li>
				<li><a href="events" title="">Events</a></li>
				<li><a href="service-times" title="">Service Times</a></li>
				<li class="menu-item-has-children"><a href="#" title="">Ministries</a>
					<ul>
						<li class="menu-item-has-children"><a href="#" title="">Helps</a>
							<ul>
								<li><a href="sanitation" title="">Sanitation</a></li>
								<li><a href="choir" title="">Choir</a></li>
							</ul>
						</li>
						<li><a href="good-women" title="">Good Women</a></li>
						<li><a href="excellent-men" title="">Excellent Men</a></li>
						<li><a href="children" title="">Children</a></li>
						<li><a href="prayer" title="">Prayer</a></li>						
					</ul>
				</li>
				<li class="menu-item-has-children"><a href="#" title="">Media Center</a>
					<ul>
						<li><a href="gallery" title="">Photo Gallery</a></li>
						<li><a href="music" title="">Music</a></li>
						<li><a href="video" title="">Videos</a></li>
						<li><a href="sermons" title="">Sermons</a></li>
						<li><a href="announcements" title="">Announcements</a></li>
					</ul>
				</li>
				<li><a href="blog" title="">Blog</a></li>
				<li><a href="about" title="">About</a></li>
				<li><a href="contact" title="">Contact</a></li>
			</ul>
		</div>
	</nav>
</header><!--- HEADER -->
{% block content %}
{% endblock %}
<footer>
	<div class="block blackish">
	<div class="parallax" style="background:url(images/parallax5.jpg);"></div>
		<div class="container">
			<div class="row"> 
				<div class="col-md-4">
					<div class="widget">
						<div class="about">
							<img src="images/logo.png" alt="" />
							<span>Worship with us</span>
							<p>Jesus Christ the same yesterday, and today, and for ever. <i>Hebrews 13:8</i></p>
							<div class="contact">
								<ul>
									<li><span><i class="fa fa-phone"></i>Phone :</span> ( +123 456 78 99 ) ( +123 456 78 99 )</li>
									<li><span><i class="fa fa-envelope"></i>Email:</span> info@rccgchapeloflife.com</li>
									<li><span><i class="fa fa-home"></i>Address:</span> Plot 7, Crystal Estate 3<sup>rd</sup> Gate, Durbar Road, Amuwo-Odofin, Lagos.</li>
								</ul>
							</div>							
							<ul class="social-media">
								<li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
							</ul>															
						</div>
					</div>
				</div><!-- ABOUT WIDGET -->
				<div class="col-md-4">
					<div class="widget">
						<div class="widget-title"><h4>Connect with us</h4></div>
						<div class="quick-message">
							<span style="color:orange">Facebook Like Box</style>
						</div>
					</div>
				</div><!-- QUICK MESSAGE WIDGET -->

				<div class="col-md-4">
					<div class="widget">
						<div class="widget-title"><h4>Recent Blog</h4></div>
						<div class="remove-ext">
							<div class="widget-blog">
								<div class="widget-blog-img"><img src="images/resource/widget-blog.jpg" alt="" /></div>
								<h6><a href="blog-single.html" title=""> Consectetur Adipisicing.</a></h6>
								<p>Homemade cream cheese mints These are amazing!Christmas!!- must try!</p>
								<span><i class="fa fa-calendar-o"></i> November 01, 2013</span>
							</div><!-- WIDGET BLOG -->

							<div class="widget-blog">
								<div class="widget-blog-img"><img src="images/resource/widget-blog2.jpg" alt="" /></div>
								<h6><a href="blog-single.html" title=""> Consectetur Adipisicing.</a></h6>
								<p>Homemade cream cheese mints These are amazing!Christmas!!- must try!</p>
								<span><i class="fa fa-calendar-o"></i> November 01, 2013</span>
							</div><!-- WIDGET BLOG -->
						</div>
						
					</div>
				</div><!-- RECENT BLOG -->				
			</div>
		</div>
	</div>
</footer><!-- FOOTER -->

<div class="bottom-footer">
	<div class="container">
		<p>&copy; {{ "now"|date("Y") }} <a title="">Chapel of Life</a>. All rights reserved. Site Credits: <a target="_blank" href="http://neegles.com" title="">Neegles</a></p>

	</div>
</div><!-- BOTTOM FOOTER STRIP -->

</div>
{% block after_footer %}
{% endblock %}

</body>