.number-boxes span.coloured,
.widget form input[type="submit"],
.donate > a:before,
.category-img ul li:hover:before,
.featured-sermon-title,
.member-detail > ul li a:hover,
.mejs-controls .mejs-time-rail .mejs-time-loaded ,
.social-media li a:hover,
.theme-form > input[type="submit"],
.button:before,
.comments > ul li .avatar:after,
.image > a,
.leave-comment > form input[type="submit"],
.service-block-inner > a:hover:before,
.widget-blog-img:before,
.gallery-widget a:before,
.gallery-title:before,
.gallery-title:after,
.cart-list > li > input[type="submit"]:hover, 
.checkout-content input[type="submit"]:hover ,
.slide1-box:before,
.quick-help > span ,
.single-page > a:hover,
.news-date,
.pagination > li:first-child a:hover, 
.pagination > li:last-child a:hover,
.donation-appeal > a:hover,
.product-bottom span,
.coloured:before,
.popup-title,
.collected-amount span i,
.amount-selection > a, .amount-selection button,
.news-details:before,
.latest-news-carousel .owl-buttons > div:hover,
button.button2:hover,
.service-block > a,
.sermon-media li:hover,
.hover-in .sermon-media li:hover,
.event-date span,
.latest-tweets > span,
.prayer-request input[type="submit"],
.newsletter-signup input[type="submit"],
.donation-box,
.tab-style .nav,
.welcome > a,
nav ul li a:before,
.pastors-message .sermon-media li:hover,
.cart-dropdown > ul li a.cart-drop-btn:hover,
.cart-dropdown > p:before,
.header-timer > p,
footer .widget-title > h4:before,
.widget .about .social-media li a:hover,
.menu-btn,
#fotter_msg,
.slide8-button:hover,
#place_order.button:hover,
.woocommerce span.onsale, .woocommerce-page span.onsale,
.woocommerce-page .woocommerce-info:before,
#masonay-nav li a.active,
.slide10-button,
.slide11-box.coloured-box,
.quote-symbol,
.item-detail:before,
a.button2:hover,
.item-detail > a,
.simple-service > a:hover,
.button3:hover,
.survey > h3,
section#options ul.option-set li a.selected{
	background-color: #2d695c;
}
a,a:hover,
.donate h2 span,
.service-block-inner > h3,
.latest-serm > h2 span,
.title > h2 span,
.parallax-text h3 span,
.book h3 a:hover,
.book > a:hover,
.contact li a i:hover,
.bottom-footer p a,
.blog-detail > h3 a:hover,
.blog-detail > a:hover,
.sermon > h3 a:hover,
.featured-sermon h3 a:hover,
.donation-progress > h2 span,
.featured-sermon span i,
.member-detail > span,
.member-detail > h3 a:hover,
.percentage:hover h5,
.title2 h2 span ,
.info-block:hover i,
.page-top h1 span,
.event-detail > ul li a i,
.event-detail > span i,
.pastor-info > h4 span,
.share-this h5 i,
.comments > ul li h5 i span,
.leave-comment > h4 i,
.widget-blog > p a:hover,
.toggle-item.activate h2,
.toggle-item.activate h2 i,
.thanks-message > span,
.blog-detail > a,
.thanks-message h5,
.comment-widget h5 a:hover,
.slide2-title i,
.slide3-title span,
.news h3 a:hover,
.search-page > h4 span,
.error-page h4 i,
.quick-help h5 span,
.amount ins i,
.donation-appeal h3 span,
.product h3 a:hover,
.category-block > h3 a:hover,
.service-image i,
.service-block > a:hover,
.service-block:hover > h3,
.upcoming-event h3 i,
.story-detail > h3 a:hover,
.blog-list > h3 a:hover,
.about h4 i,
.parallax-title h3 span,
.welcome h1 span,
nav ul li a:after ,
.pastors-message span,
.cart-dropdown > ul li a.cart-drop-btn,
.cart-dropdown > p span,
.widget .contact li span,
.widget-blog > h6 a:hover,
.event > h3 a:hover,
.widget-blog > span,
.sermon-media li i,
.pagination > li span,
.slide10-title span,
.slide10-button:hover,
.welcome > a:hover,
.slide11-title span,
.item-detail > h3 a:hover,
h4.new-title a:hover,
.sermon h3 a:hover,
.event-count > h4 a:hover,
.title3 h2 span,
.simple-service:hover > h3,
.simple-service:hover .simple-icon > span,
.simple-blog > h4 a:hover,
.welcome h1 i,
.needed h5,
.survey-report > h5,
.online-store > h4 span{
	color: #2d695c;
}

.service-block:hover,
.widget-title:before,
.service-block > a,
.about .nav li.active a,
.welcome > a,
.cart-dropdown > ul li.item-number,
.cart-dropdown > ul li a.cart-drop-btn,
.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info,
.slide8-button:hover,
.item-detail > a,
.simple-service > a,
.carousel-item .sermon-media li:hover,
.button3 {
	border-color: #2d695c; 
}

.cart-dropdown > ul:after {
	border-bottom-color: #2d695c; 
}